@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: "GeistMono", sans-serif;
}

body {
  /* font-family: "Inter Variable", sans-serif; */
  font-family: "GeneralSans", sans-serif;
  font-feature-settings: "calt" 1;
}

small {
  font-family: "GeistMono", sans-serif;
}

.bg-lines {
  background-color: transparent;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    theme("colors.stone.100") 0,
    theme("colors.stone.100") 1px,
    theme("colors.stone.50") 0,
    theme("colors.stone.50") 50%
  );
}

.pain-point-card:nth-child(1) {
  transform: rotate(2deg);
}

.pain-point-card {
  @apply border;
}

.pain-point-card:nth-child(2n + 1) {
  transform: rotate(-2deg);
  @apply bg-red-600/10 text-red-600 border-red-200/75;
}

.pain-point-card:nth-of-type(2n) {
  transform: rotate(2deg);
  @apply bg-red-600/90 text-white;
}

.pain-point-card:nth-of-type(3n + 2) {
  transform: rotate(1deg);
}

.pain-point-card:last-child {
  transform: rotate(-1deg);
}
